// SASS styles

$accent: #337AB7;
$accent-alt: #FFFFFF;
$HEADING-X: 64px;

@font-face {
	font-family: 'logo';
	src: url('/fonts/Mr_Marcoozie_MEDIUM.eot');
	src: url('/fonts/Mr_Marcoozie_MEDIUM.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Mr_Marcoozie_MEDIUM.woff2') format('woff2'),
		url('/fonts/Mr_Marcoozie_MEDIUM.woff') format('woff'),
		url('/fonts/Mr_Marcoozie_MEDIUM.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@mixin blur($px: 0) {
    -webkit-filter: blur(#{$px}px) !important;
    -ms-filter: blur(#{$px}px) !important;
    -moz-filter: blur(#{$px}px) !important;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'#{$px}\' /></filter></svg>#blur");
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$px}');
}

body {
    background: #F0F0F0 url('/images/paper.png') repeat;
}

// .navbar-fixed-top {
//     //background: rgba(250, 250, 250, 0.5);
// }

nav {
    li {
        font-family: 'logo';
        font-size: 20px !important;
    }
    .dropdown-header {
        font-size: 16px !important;
    }
    .btn {
        margin-left: 12px;
    }
    .navbar-brand {
        font-family: 'logo';
        font-size: 38px !important;
        line-height: 22px;
        color: $accent-alt !important;
    }
}

section {
    margin-bottom: 64px;
    text-align: center;
}

.a-nolink {
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.logo-text {
    font-family: 'logo';
}

.catchphrase {
    position: relative;
    left: 50%;
    margin-left: -160px;
    display: block !important;
    width: 320px !important;
    height: 146px !important;
    text-align: center;

    h1 {
        position: relative;
        padding-top: 30px !important;
    }

    .getready {
        position: absolute;
        top: -12px;
        left: 8px;
        color: #FF0000;
    }

    .go {
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: #0000FF;
    }
}

header {
    margin-top: 108px;
}

h1.logo-text { font-size: 80px; }
h2.logo-text { font-size: 64px; }
h3.logo-text { font-size: 48px; }
h4.logo-text { font-size: 32px; }

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

.login-container {
    text-align: center;
    height: 80px;
}

hr {
    margin: 30px auto;
    width: 30%;
    border-top: 4px solid $accent;
}

hr.light {
    border-top: 4px solid $accent-alt !important;
}