@font-face {
  font-family: 'logo';
  src: url("/fonts/Mr_Marcoozie_MEDIUM.eot");
  src: url("/fonts/Mr_Marcoozie_MEDIUM.eot?#iefix") format("embedded-opentype"), url("/fonts/Mr_Marcoozie_MEDIUM.woff2") format("woff2"), url("/fonts/Mr_Marcoozie_MEDIUM.woff") format("woff"), url("/fonts/Mr_Marcoozie_MEDIUM.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

body {
  background: #F0F0F0 url("/images/paper.png") repeat; }

nav li {
  font-family: 'logo';
  font-size: 20px !important; }

nav .dropdown-header {
  font-size: 16px !important; }

nav .btn {
  margin-left: 12px; }

nav .navbar-brand {
  font-family: 'logo';
  font-size: 38px !important;
  line-height: 22px;
  color: #FFFFFF !important; }

nav .glyphicon-plus {
  font-size: 16px !important;
  color: #02C510; }

#set-list {
  user-select: none;
  cursor: default; }
  #set-list li {
    margin-top: 6px;
    min-height: 64px;
    font-size: 24px;
    line-height: 52px;
    list-style-type: none;
    background-color: rgba(245, 245, 255, 0.8);
    border: 6px solid #888888;
    border-radius: 5px; }
    #set-list li table {
      text-align: left; }
      #set-list li table td {
        width: 64px; }
      #set-list li table td:not(.controls):not(.key) {
        width: 40%;
        table-layout: fixed; }
      #set-list li table td.controls {
        text-align: right;
        padding-right: 10px; }

section {
  margin-bottom: 64px;
  text-align: center; }

.a-nolink {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.logo-text, #set-list li, p, h1, h2, h3, h4 {
  font-family: 'logo'; }

.logo-text.small, #set-list li.small, p.small, h1.small, h2.small, h3.small, h4.small {
  font-size: 12px; }

.logo-text.medium, #set-list li.medium, p.medium, h1.medium, h2.medium, h3.medium, h4.medium {
  font-size: 18px; }

.logo-text.large, #set-list li.large, p.large, h1.large, h2.large, h3.large, h4.large {
  font-size: 24px; }

p {
  font-size: 22px; }

.catchphrase {
  position: relative;
  left: 50%;
  margin-left: -160px;
  display: block !important;
  width: 320px !important;
  height: 146px !important;
  text-align: center; }
  .catchphrase h1 {
    position: relative;
    padding-top: 30px !important; }
  .catchphrase .getready {
    position: absolute;
    top: -12px;
    left: 8px;
    color: #FF0000; }
  .catchphrase .go {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #0000FF; }

header {
  margin-top: 108px; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 64px; }

h3 {
  font-size: 48px; }

h4 {
  font-size: 32px; }

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%; }

.login-container {
  text-align: center;
  height: 80px; }

hr {
  margin: 30px auto;
  width: 30%;
  border-top: 4px solid #337AB7; }

hr.light {
  border-top: 4px solid #FFFFFF !important; }
