@font-face {
  font-family: 'mr-mac';
  src: url("Mr_Marcoozie_MEDIUM.eot");
  src: url("Mr_Marcoozie_MEDIUM.eot?#iefix") format("embedded-opentype"), url("Mr_Marcoozie_MEDIUM.woff2") format("woff2"), url("Mr_Marcoozie_MEDIUM.woff") format("woff"), url("Mr_Marcoozie_MEDIUM.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

body {
  background: #BFBFBF; }

nav .btn {
  margin-left: 12px; }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("/images/bg.png");
  text-align: center;
  color: white; }
  header .header-title {
    font-family: 'mr-mac';
    font-size: 120px;
    margin-bottom: 64px; }

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%; }

hr {
  margin: 30px auto;
  width: 30%;
  border-top: 4px solid #337AB7; }

hr.light {
  border-top: 4px solid #FFFFFF !important; }
